page-contact-details {

	.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 90px;
    background-color: #fff;
	}

	.backColor {
		height: 100%;
		background-color: #528696;
		padding: 5px;
	}

	.rcorners1 {
    border-radius: 25px;
    background: #F4F7F5;
    padding: 12px; 
    margin: 10px;
    margin-top: 20px;
    width: 95%;
    height: 45px; 
	}

}
