page-id-details {
	.masters {
		background-color: #528696;
	}

	.rcorners1 {
    border-radius: 25px;
    background: #F4F7F5;
    padding: 10px; 
    margin-bottom: 5px;
    width: 100%;
    height: 40px; 
	}
}
